.title-label {
	font-weight: 400;
	font-size: 24px;
}

.navbar-barnd {
	vertical-align: middle;
	line-height: 45px;
}

.navbar .create {
	margin-right:10px;
}

.navbar .search{
	margin: 10px;
}
.navbar .ip {
        position: absolute;
        width: 240px;
        float: Left;
        margin-left: 66px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 0px 0 10px;
        border-radius:1px;
    }

      /*  .search:hover .ip, .search .ip :focus {
            width: 240px;
            margin-left: 66px;
        } */

.navbar .search .btn {
    height: 30px;
    position: absolute; 
    border-radius:1px;
    
}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

#master{
    max-width: 1020px;
    margin: 0 auto;
}
#left-nav{
    position:relative;
    top: 20px;
}
#left-nav a {
    color: #000;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #22Ab7a;
    margin-bottom: 0;
}
.nav-pills ul {
    margin-top: 20px;
}
.nav-pills>li>a {
    background-color: #22Ab7a;
    margin-bottom: 1px;
    padding: 5px 9px;
}
#swf_container {
    background: #fff;
    margin-top: 20px;
}
#swf_container img{
    position: relative;
    top: 0;
    left: 30px;
}
nav.navbar-green {
    background-color: #22Ab7a;
}
nav.navbar-green a {
       color: #111;
}
.btn-xs{
	margin-right: 5px;
}
.z-grid-emptybody td {
	font-size: 14px;
}